version: '3.7'

services:

  config-server:
    container_name: ${CONFIG_SERVER_CONTAINER_NAME}
    build:
      context: services/config-server
      dockerfile: Dockerfile-ConfigServer
      args:
        - JAR_FILE=target/config-server-0.0.1-SNAPSHOT.jar
    #image: config-server:latest        # if not commented, and if the image:tag exists, image will be used instead of building new image (microservices-demo_config-server:latest)
    #expose:            # I think this is redundant and it's still reachable via 20001 from other containers. is it because of the docker network? --> YES
    #  - 20001
    ports:
      - 20001:20001     # for DEV purpose
    networks:
      - microservices-demo-network
    #volumes:
    #  - config-repo:/var/lib/config-repo
    environment:
      - CONFIG_SERVER_USER_HOME=${CONFIG_SERVER_USER_HOME}

  eureka-server:
    container_name: ${EUREKA_SERVER_CONTAINER_NAME}
    build:
      context: services/eureka-server
      dockerfile: Dockerfile-EurekaServer
      args:
        - JAR_FILE=target/eureka-server-0.0.1-SNAPSHOT.jar
    ports:
      - 20002:20002     # for DEV purpose
    networks:
      - microservices-demo-network
    environment:
      - CONFIG_SERVER_CONTAINER_NAME=${CONFIG_SERVER_CONTAINER_NAME}
      - EUREKA_SERVER_CONTAINER_NAME=${EUREKA_SERVER_CONTAINER_NAME}
    depends_on:
      - config-server

  api-gateway-zuul-server:
    #container_name: api-gateway-zuul-server-container   # *** you cannot scale a service beyond 1 container if you have specified a custom name. Attempting to do so results in an error.
    build:
      context: services/api-gateway-zuul
      dockerfile: Dockerfile-ApiGatewayZuul
      args:
        - JAR_FILE=target/api-gateway-zuul-0.0.1-SNAPSHOT.jar
    #ports:
    #  - 20000:20000     # for DEV purpose
    networks:
      - microservices-demo-network
    environment:
      - CONFIG_SERVER_CONTAINER_NAME=${CONFIG_SERVER_CONTAINER_NAME}
      - EUREKA_SERVER_CONTAINER_NAME=${EUREKA_SERVER_CONTAINER_NAME}
    depends_on:
      - config-server
      - eureka-server

  user-dashboard:
    #container_name: user-dashboard-container   # *** you cannot scale a service beyond 1 container if you have specified a custom name. Attempting to do so results in an error.
    build:
      context: services/user-dashboard
      dockerfile: Dockerfile-UserDashboard
      args:
        - JAR_FILE=target/user-dashboard-0.0.1-SNAPSHOT.jar
    #ports:
    #  - 20004:20004     # for DEV purpose
    networks:
      - microservices-demo-network
    environment:
      - CONFIG_SERVER_CONTAINER_NAME=${CONFIG_SERVER_CONTAINER_NAME}
      - EUREKA_SERVER_CONTAINER_NAME=${EUREKA_SERVER_CONTAINER_NAME}
    entrypoint: /docker-entrypoint-user-dashboard.sh
    depends_on:
      - config-server
      - eureka-server

  user-service:
    #container_name: user-service-container
    build:
      context: services/user-service
      dockerfile: Dockerfile-UserService
      args:
        - JAR_FILE=target/user-service-0.0.1-SNAPSHOT.jar
    #ports:
    #  - 20003:20003     # for DEV purpose
    networks:
      - microservices-demo-network
    environment:
      - CONFIG_SERVER_CONTAINER_NAME=${CONFIG_SERVER_CONTAINER_NAME}
      - EUREKA_SERVER_CONTAINER_NAME=${EUREKA_SERVER_CONTAINER_NAME}
      - POSTGRES_DB_JDBC_URL=${POSTGRES_DB_JDBC_URL}
      - POSTGRES_DB_USERNAME=${POSTGRES_DB_USERNAME}
      - POSTGRES_DB_PASSWORD=${POSTGRES_DB_PASSWORD}
    entrypoint: /docker-entrypoint-user-service.sh
    depends_on:
      - config-server
      - eureka-server
      - postgres

  postgres:
    container_name: ${POSTGRES_DB_CONTAINER_NAME}
    image: postgres:11   # postgres:11-alpine
    # restart: always      # restart whenever changes are made in docker-compose.yml. 'no' is default
    ports:
      - 15432:5432       # for DEV purpose only
    # expose:              # no need for this
    #  - 5432
    environment:
      - POSTGRES_USER=${POSTGRES_DB_USERNAME}     # if not provided, 'postgres' will be used
      - POSTGRES_PASSWORD=${POSTGRES_DB_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB_NAME}       # if not provided, it'll be the same as postgres username
    #    volumes:  # temporary. might really need to create a 3rd repo for docker-compose.yml and postgres, nginx configs, etc. ex) kareo-template-util-docker-compose
    #      - '/Users/chrisr/MyProjects/react-projects/lottery/pgdata:/var/lib/postgresql/data'
    networks:
      - microservices-demo-network

  # nginx is used IF we want to scale the API-Gateway-Zuul server
  # docker-compose up --build --scale api-gateway-zuul-server=3 --scale user-dashboard=3 --scale user-service=3
  nginx:
    container_name: microservices-demo-nginx
    image: nginx:alpine
    ports:                # FE requests should go to NGINX. e.g) localhost:3001, which will then be re-routed. this is REVERSE-PROXY
      - ${NGINX_PORT}:80
    volumes:
      #- './public:/srv/www/static'
      - './config/nginx/nginx.conf:/etc/nginx/nginx.conf'             # where http configs are done, including load balancing
      - './config/nginx/default.conf:/etc/nginx/conf.d/default.conf'  # where reverse proxy configs are done
    networks:
      - microservices-demo-network
    depends_on:
      - api-gateway-zuul-server     # this is necessary in order to apply nginx load balancing configs to the api-gateway-zuul-server

networks:
  microservices-demo-network:
    driver: bridge
